/* Reset de estilos de margen y relleno para todos los elementos HTML */
/* Configura el margen (espacio exterior) y el relleno (espacio interior)
 de todos los elementos en la página a 0 */
* {
    margin: 0;
    padding: 0;
    font-family: 'open sans';
  }
  
:root{
    --colorPrincipal: #212397;
    --colorSecundario: hsla(240, 83%, 57%, 0.753);
    --colorBorde: #c4c2c2f1;
    --colorText: #ebe8e8f1;
    --colorBackgroundSectionA: #f2f2f2;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

/* Configura la posición de desplazamiento vertical en la página */

/* Establece la cantidad de espacio (101px) que se debe dejar en la 
parte superior de la página cuando se desplaza hacia un marcador de ancla (ancla) */
html {
    scroll-padding-top: 101px;
  }
  

body {
    /* font-family: 'open sans'; */
}

/* Estilo para el contenedor principal */
.contenedor {
    /* Establece un relleno superior e inferior de 60px y ningún relleno en los lados izquierdo y derecho */
    /* El relleno se utiliza para agregar espacio entre el contenido del contenedor y su borde */
    padding: 60px 0;
  
    /* Establece el ancho del contenedor en el 90% del ancho disponible del elemento padre */
    width: 90%;
  
    /* Establece el ancho máximo del contenedor en 1000px */
    /* Esto significa que el contenedor nunca será más ancho que 1000px, incluso si el ancho del elemento padre lo permite */
    max-width: 1000px;
  
    /* Establece los márgenes izquierdo y derecho del contenedor en "auto" */
    /* Esto centra horizontalmente el contenedor en el elemento padre */
    margin: auto;
  
    /* Establece la propiedad overflow (desbordamiento) en "hidden" */
    /* Esto oculta cualquier contenido que se extienda más allá del borde del contenedor */
    overflow: hidden;
  }
  

.titulo {
    color: var(--colorPrincipal);
    font-size: 50px;
    text-align: center;
    margin-bottom: 60px;
    text-shadow: var(--colorSecundario) 1px 1px;
}

/* navbar */
/*-------------------------------------------------------------------------------------------------------------------------------------*/
/* Estilo para la barra de navegación */
.navbar {
    /* Establece la posición del elemento a "relative" */
    /* Esto significa que la posición del elemento se basará en su posición original, y no se sacará del flujo normal del documento */
    position: relative;
  
    /* Establece un relleno superior e inferior de 1rem y un relleno izquierdo y derecho de 1rem */
    /* El relleno se utiliza para agregar espacio entre el contenido de la barra de navegación y su borde */
    padding: 1rem 1rem;
  
    /* Establece el valor de "display" (visualización) del elemento en "flex" */
    /* Esto permite que los elementos dentro de la barra de navegación se alineen horizontalmente */
    display: flex;
  
    /* Establece cómo se alinearán los elementos dentro de la barra de navegación en el eje vertical */
    /* En este caso, se alinearán al centro verticalmente */
    align-items: center;
  }
  

.navbar.fixed-top {
    /* Establece la posición del elemento como "fixed" */
    /* Esto fija el elemento en una posición específica en la ventana del navegador */
    position: fixed;
    top: 0;
    width: 100%;
}

#mi-container {
    border: none;
    display: flex;
    align-items: center;
    margin-bottom: 0%;
  }

.navbar-collapse {
    /* Establece el valor de "flex-grow" en 0 y utiliza la regla "!important" para asegurarse de que este valor anula cualquier otro */
    flex-grow: 0 !important;
    align-items: center;
}

/* logo */
/*------------------------------------------*/
#logo{
    color: var(--colorText);
}

#logo:hover{
    background-color: transparent;
    color: var(--colorSecundario);
}
/*boton login*/
/*------------------------------------------*/
#btn-login {
    padding-left: 5vh;
    padding-right: 5vh;
}

#btn-login:hover{
    border-color: var(--colorBorde);
}

/*navbar*/
/*-------------------------------------------------------------------------------------------------------------------------------------*/
.navbar a{
    color: #ebe8e8f1;
    text-align: center;
    padding: 1vw 5vh; 
    text-decoration: none; 
    font-size: 17px; 
}

.navbar a:hover{
    background-color: var(--colorSecundario);
    color: #ebe8e8f1;
}

.navbar .navbar-brand {
    font-size: 30px;
    
}

.navbar .navbar-brand:hover{
    color: var(--colorSecundario);
}

.btn-primary {
    background-color: transparent;
    border: #c4c2c2a9 1px solid;
    border-radius: 5px;
  }

/* header  */
/*-------------------------------------------------------------------------------------------------------------------------------------*/
header {
    width: 100%;
    height: 600px;
    background: var(--colorPrincipal);
    /* fallback for old browsers */
    /* Establece el fondo de la página utilizando una combinación de un gradiente lineal y una imagen de fondo */
    background: 
    linear-gradient(
        43deg, /* dirección del gradiente en grados (en este caso, 43 grados hacia la derecha) */
        rgba(2,0,36,1) 0%, /* primer color en el gradiente y su posición (0% desde la izquierda) */
        rgba(4,4,255,0.76) 0%, /* segundo color en el gradiente y su posición (0% desde la izquierda) */
        rgba(0,212,255,1) 100% /* tercer color en el gradiente y su posición (100% desde la izquierda) */
    ),
    url(imagenes/portada2.jpg); /* imagen de fondo, especificada por su ubicación en el servidor */

    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(246, 95%, 50%, 0.459), hsla(244, 45%, 52%, 0.664)), url(imagenes/portada2.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}


header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* About us */
/*-------------------------------------------------------------------------------------------------------------------------------------*/
main .sobre-nosotros{
    padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: var(--colorPrincipal);
    color: var(--colorText);
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}


/* Galeria */
/*-------------------------------------------------------------------------------------------------------------------------------------*/
.portafolio{
    background: #f2f2f2;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 70%;
    transform: scale(0);
    background: var(--colorPrincipal);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/* Clients */
/*-------------------------------------------------------------------------------------------------------------------------------------*/
.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: var(--colorPrincipal);
    display: flex;
    align-items: center;
    padding-top: 2rem;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 48%;
    height: auto;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
}

.cards .card h3 {
    text-align: center;
}

.cards .card img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    margin-bottom: 10px;
    vertical-align: middle;
}

.cards .card > .contenido-texto-card{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
    width: 75%;
    color: var(--colorText);
    text-align: justify;
}

.cards .card > .contenido-texto-card p{
    padding-top: 5px;
}

/*  Our team */
/*-------------------------------------------------------------------------------------------------------------------------------------*/
.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;
}


.servicio-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 45vw;
    height: 33vw;
    text-align: center;
    background-color: #fff;
    border: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 9px;
    padding-right: 9px;
}

.servicio-ind img{
    width: 85%;
    margin-bottom: 10px;
}

.servicio-ind h4{
    margin: 10px;
    color: var(--colorSecundario);
}

.servicio-ind p{
    text-align: justify;
    color: black;
}

/* login */
/*-------------------------------------------------------------------------------------------------------------------------------------*/
.contenedor-login{
    display: flex;
    justify-self: center;
    align-items: center;
    height: 30vh;
}

.login-form {
    max-width: 400px;
    width: 100%;
    margin: auto;
    padding: 30px;
    border-radius: 2px;
    background-color: var(--colorBackgroundSectionA);
}

.form-control {
    background-color: var(--colorBackgroundSectionA);
    border-color: var(--colorSecundario);
    border-radius: 2px;
}

.form-control::placeholder{
    color: var(--colorSecundario);
}

.form-control, .form-check-input{
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--colorSecundario);
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-check-input {
    width: auto;
    margin-right: 10px;
}

.input-group-text {
    background-color: var(--colorSecundario);
    width: 70px;
    color: var(--colorText);
    border-radius: 2px;
    border-color: var(--colorSecundario);
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    background-color: var(--colorBackgroundSectionA);
    border-color: var(--colorSecundario);
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  
input[type="checkbox"]:checked {
    background-color: var(--colorSecundario);
    border-color: var(--colorSecundario);
  }

.form-check{
    margin-bottom: 25px;
}

.form-check-label {
    margin-left: 5px;
  }

.boton-login {
    width: 100%;
    margin-top: 10px;
    background-color: var(--colorSecundario);
    color: var(--colorText);
    border: none;
    border-radius: 2px;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
  }

.boton-login:hover{
    background-color: var(--colorPrincipal);
}

.modal-content {
    border-radius: 2px;
}

.modal-content .modal-header {
    display: flex;
}

.modal-content .modal-header h5 {
    color: var(--colorPrincipal);
    font-size: 30px;
    margin-left: auto;
}

.modal-body {
    background-color: var(--colorBackgroundSectionA);
}

#alerta-error {
    margin-top: 10px;
}

/* contanctanos */
/*-------------------------------------------------------------------------------------------------------------------------------------*/
.error {
    color: red;
}

.contactenos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.form-register{
    width: 1000px;
    background: var(--colorBackgroundSectionA);
    padding: 30px;
    border-radius: 4px;
    border-color: var(--colorBorde);
    color: var(--colorText);
}

.controls{
    width:100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid var(--colorBorde);
    font-size: 1rem;
    color: var(--colorSecundario);
}

.controls:focus{
    border-color: var(--colorBorde);
}

.controls::placeholder{
    color: var(--colorSecundario);
    background-color: #fff;
}

.form-register label {
    color: var(--colorSecundario);
    height: 40px;
    text-align: center;
    font-size: 1.3rem;
    line-height: 40px;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 20px;
    color: var(--colorPrincipal);
    line-height: 40px;
}

.form-register a{
    color: var(--colorSecundario);
    text-decoration: none;
}

.form-register a:hover{
    color: var(--colorPrincipal);
    text-decoration: underline;
}

.form-register .botons{
    width: 100%;
    background: var(--colorSecundario);
    border-color: var(--colorBackgroundSectionA);
    border-radius: 4px;
    padding: 12px;
    color: var(--colorText);
    margin: 16px 0;
    font-size: 20px;
}

.form-register .botons:hover{
    background-color: var(--colorPrincipal);
}

#resumen {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 20px;
  }

.titulo-resumen {
    font-size: 2rem;
    color: var(--colorPrincipal);
    text-align: center;
    padding: 0px;
}

.contenedor-resumen{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--colorSecundario);
    border-radius: 2px;
}

.contenedor-resumen p {
    color: var(--colorText);
}

.contenedor-resumen .boton {
    width: 40%;
    background: rgb(73, 172, 81);
    border-color: rgb(73, 172, 81);
    border-radius: 4px;
    padding: 12px;
    color: var(--colorText);
    margin: 16px 0;
    font-size: 20px;
}


/* footer */
/*-------------------------------------------------------------------------------------------------------------------------------------*/
footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid var(--colorPrincipal);
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

@media screen and (max-width:900px){
    header{
        background-position: center;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: 90%;
    }

    /* Galeria */

    .imagen-port{
        width: 44%;
    }

    /* Clientes */

    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 0%;
    }

    .cards .card:first-child{
        margin-bottom: 0px;
    }

    /* servicios */

    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind{
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }

    .servicio-ind img{
        width: 90%;
    }
}

@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

    /* ABOUT US */

    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }

    /* Galeria */

    .imagen-port{
        width: 95%;
    }

    /* Clients */

    .cards .card{
        width: 95%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards .card img{
        width: 60px;
        height: 60px;
    }

    /* servicios */

    .servicio-ind {
        width: 95%;
        height: 100%;
    }

    /* Footer */

    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }
}

/* AGREGADO PARA LA PAGINA JS */
.tituloCarrito{
    text-align: center;
    margin-right: 60px;
    padding-bottom: 40px;
    color: var(--colorPrincipal);
}

.row {
    padding: 25px;
}

.card {
    border-radius: 0px;
    border-color: var(--colorBorde);
}

#container {
    display: flex;
 }

.container { 
    border: 2px solid var(--colorPrincipal);  
    border-radius: 5px;
    margin-bottom: 60px;
}

.list-group {
    border-radius: 2px;
}

.list-group-item {
    display: flex;
}

.list-group-item .btn{
    border-radius: 2px;
}

.btn-item-carrito {
    background-color: var(--colorPrincipal);
    border-radius: 2px;
    border: var(--colorPrincipal)
}

.btn-item-carrito:hover{
    background-color: var(--colorSecundario);
}

.btn-vaciar {
    background-color: var(--colorSecundario);
    border-radius: 2px;
    border: var(--colorSecundario);
}

.btn-vaciar:hover{
    background-color: var(--colorPrincipal);
}

